body {
  font-size: 19px;
  margin: 0;
  background-image: url(../img/fon37.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 5;
  }

header,
footer {
  height: 50px;
}

article {
  padding: 20px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

table {
  margin-top: 15px;
  margin-left: 80px;
  border-collapse: collapse;
  width: 40%;
  background: rgb(178,235,242);
}

table,
th,
td {
  border: 3px groove grey;
  text-align: center;
  padding: 15px;
}

tr:first-child {
  background: rgb(176,190,197);
}

tr:hover {
  background: rgb(176,190,197);
}

.container {
  max-width: 1200px;
  margin: 0 auto;

}

.image_index {
  max-width: 40%;
  height: auto;
}

.image_index12 {
  max-width: 10%;
  height: auto;
}

.more-btn {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.btn-up {
  position: fixed;
  right: 15px;
  bottom: 20px;
  padding: 15px;
  font-size: 35px;
  border-radius: 50%;
}

.top {
  padding-top: 10px;
}

.main-top {
  margin-top: 70px;
}

.shadow-block {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.shadow-btn {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.shadow-text {
  text-shadow: 3px 3px 6px rgb(120,144,156);
}

.bg-cyan-8 {
  background: rgb(0,131,143);
}

.bg-teal-3 {
  background: rgb(77,182,172);
}

.bg-cyan-2 {
  background: rgb(128,203,196);
}

.text-center {
  text-align: center;
}

.text-cyan-3 {
  color: rgb(77,208,225);
}

.text-blue-grey-9 {
  font-size: 24px;
  color: rgb(38,50,56);
}

.text-blue-grey-9-2 {
  font-size: 19px;
  color: rgb(38,50,56);
}

.text-blue-grey-9-3 {
  color: rgb(38,50,56);
  font-size: 26px;
}

.text-blue-grey-9-4 {
  color: rgb(38,50,56);
  font-size: 18px;
}
